<li class="page-list-item" data-index="<%= index %>">
  <div class="page-cover">
    <a href="<%= item.href %>" target="<%= isBlank ? '_blank' : '' %>">
      <% if (item.banner) { %>
        <img src="//s3ecz0c2b.hn-bkt.clouddn.com/imgs/lazyload.webp?e=1698849786&token=WO8DULO9FIsHnPpG2_qXrwSqua2RSfUKL_3li9UE:YZove6ZmKHZopmLOfz8_KSl2qjg=" data-src="<%= item.banner %>" alt="<%= item.title %>" />
      <% } %>
    </a>
  </div>
  <div class="page-content">
    <h2 class="page-title"><%= item.title %></h2>
    <p class="page-description"><%= item.description %></p>
  </div>
</li>
