<%- include('common/head.ejs', {
  title,
  stylesheets
}) %>

<div class="container J_AudioTransferPage">
  <%- include('common/nav/index.ejs', { navList, path }) %>

  <header class="top-desc">
    <h1>网易云音频上传</h1>
  </header>

  <!-- 上传单个音频 -->
  <div class="upload-box J_SingleAudioUploadTransfer">
    <h2>单个音频文件上传</h2>
    <%- include('audio-transfer/uploader/index.ejs', {
      multiple: false,
    }) %>
    <%- include('audio-transfer/btn-group/index.ejs', {}) %>
  </div>
  <!-- 上传多个音频 -->
  <div class="upload-box J_MultiAudioUploadTransfer">
    <h2>多个音频文件上传</h2>
    <%- include('audio-transfer/uploader/index.ejs', {
      multiple: true,
    }) %>
    <%- include('audio-transfer/btn-group/index.ejs', {}) %>
  </div>

</div>

<!-- 引入脚本 -->
<% for (let script of scripts) { %>
  <script type="text/javascript" src="<%= script %>"></script>
<% } %>

<%- include('common/foot.ejs') %>
