<%- include('common/head.ejs', { title, stylesheets }) %>

  <%- include('common/page/PageHeader.ejs', {
    pageTitle,
    pageIcon
  }) %>

  <main class="container J_IndexPage">
    <div class="inner">
      <h1>本站功能：</h1>
      <%- include('index/page-list/index.ejs', {
        list: pageList,
        isBlank: false
      }) %>
      <h1>相关内容推荐：</h1>
      <%- include('index/page-list/index.ejs', {
        list: relativeContentList,
        isBlank: true
      }) %>
    </div>
  </main>

  <%- include('common/backTop.ejs', {}) %>

  <%- include('common/page/PageFooter.ejs', {
    beian
  }) %>

  <!-- 引入脚本 -->
  <% for (let script of scripts) { %>
    <script type="text/javascript" src="<%= script %>"></script>
  <% } %>

<%- include('common/foot.ejs') %>
