<%- include('common/head.ejs', { title, stylesheets }) %>

<%- include('common/page/PageHeader.ejs', {
  pageTitle,
  pageIcon
}) %>

<div class="container J_SourceListPage">
  <div class="inner">
    <%- include('common/nav/index.ejs', { navList, path }) %>
    <%- include('source-list/search-bar/index.ejs', { keyword }) %>
    <%- include('source-list/video-list-table/index.ejs', {}) %>
  </div>
</div>

<%- include('common/page/PageFooter.ejs', {
  beian
}) %>

  <%- include('common/backTop.ejs', {}) %>

  <!-- 引入脚本 -->
  <% for (let script of scripts) { %>
    <script type="text/javascript" src="<%= script %>"></script>
  <% } %>

<%- include('common/foot.ejs') %>
