<%- include('common/head.ejs', {
  title,
  stylesheets
}) %>

<div class="container J_VideoTransferPage">
  <%- include('common/nav/index.ejs', { navList, path }) %>
  <%- include('video-transfer/uploader/index.ejs') %>
  <%- include('video-transfer/btn-group/index.ejs') %>
</div>

<!-- 引入脚本 -->
<% for (let script of scripts) { %>
  <script type="text/javascript" src="<%= script %>"></script>
<% } %>

<%- include('common/foot.ejs') %>