<tbody class="list-table-body">
  <% for (let i = 0; i < tableData.length; i++) { let tr = tableData[i]; %>
    <tr
      class="list-table-row"
      data-index="<%= i %>"
      data-id="<%= tr.id %>"
      data-name="<%= tr.originalname %>"
      data-type="<%= tr.sourceType %>"
    >
      <% for (let td of tableHead) { %>
        <td class="list-table-data" data-key="<%= td.key %>">
          <% if (td.key === 'operations') { %>
            <% for (let operation of tr[td.key]) { %>
              <%- include('table-body/OperateBtn.ejs', {
                key: operation.key,
                label: operation.label,
              }) %>
            <% } %>
          <% } %>

          <% if (td.key === 'id') { %>
            <%- include('table-body/ShowId.ejs', {
              id: tr[td.key],
            }) %>
          <% } %>

          <% if (td.key === 'playUrl') { %>
            <%- include('table-body/NavLink.ejs', {
              // href: tr[td.key],
              href: `/detail/${tr.id}`,
              linkTip: tr.sourceType === 'video' ? '点击跳转视频播放页' : '跳转音频播放详情页'
            }) %>
          <% } %>

          <% if (td.key === 'banner') { %>
            <%- include('table-body/VideoCover.ejs', {
              presetSrc: '//source-manage-cdn.bklove-zz.cn/imgs/lazyload.webp',
              src: tr[td.key],
              title: tr['originalname']
            }) %>
          <% } %>

          <% if (td.key === 'sourceType') { %>
            <%- include('table-body/SourceType.ejs', {
              sourceType: tr[td.key],
            }) %>
          <% } %>
          
          <% if (td.key === 'originalname') { %>
            <strong>
              <%= tr[td.key] ? tr[td.key].replace(/\.(.+)$/, '') : '' %>
            </strong>
          <% } %>

          <% if (['ctime', 'mtime', 'name'].includes(td.key)) { %>
            <span><%= tr[td.key] %></span>
          <% } %>
        </td>
      <% } %>
    </tr>
  <% } %>

  <% if (!tableData.length) { %>
    <%- include('table-body/NoDataTip.ejs', {
      rowspan: tableHead.length,
      tip: '暂无数据'
    }) %>
  <% } %>
</tbody>
