<div class="pagination-container">
  <ul class="pagination-list">
    <% for (var i = 1; i <= totalPage; i++) { %>
      <li class="pagination-list-item <%= i == page ? 'active' : '' %>">
        <a class="pagination-list-item-link" href="javascript:;" data-index="<%= i - 1 %>">
          <%= i %>
        </a>
      </li>
    <% } %>
  </ul>
  <div class="pagination-info">
    <span class="pagination-info-text">
      <span class="pagination-info-text-current-number">第 <%= page %> 页</span>
      <span class="pagination-info-text-current-total">合计共 <%= totalPage %> 页</span>
      <span class="pagination-info-text-total">总计: <%= total %> 条</span>
    </span>
  </div>
</div>